version: '3.8'

services:
  omni:
    image: ghcr.io/siderolabs/omni:${OMNI_VERSION:-latest}
    container_name: omni
    restart: unless-stopped
    ports:
      - "443:443"
      - "8080:8080"
      - "50042:50042"
    environment:
      - OMNI_ACCOUNT_UUID=${OMNI_ACCOUNT_UUID}
      - OMNI_NAME=Omni Self-Hosted
      - OMNI_HTTP_BIND_ADDR=:8080
      - OMNI_HTTPS_BIND_ADDR=:443
      - OMNI_SIDEROLINK_WIREGUARD_ADVERTISED_ADDR=${OMNI_WG_IP}:50042
      - OMNI_SIDEROLINK_API_ADVERTISED_URL=https://${OMNI_DOMAIN_NAME}:8090
      - OMNI_ADVERTISED_API_URL=https://${OMNI_DOMAIN_NAME}/
      - OMNI_INITIAL_USERS=${OMNI_ADMIN_EMAIL}
      - OMNI_AUTH_AUTH0_ENABLED=true
      - OMNI_AUTH_AUTH0_DOMAIN=${AUTH0_DOMAIN}
      - OMNI_AUTH_AUTH0_CLIENT_ID=${AUTH0_CLIENT_ID}
      - OMNI_STORAGE_KIND=etcd
      - OMNI_ETCD_EMBEDDED_UNSAFE_FSYNC=false
    volumes:
      - /etc/letsencrypt/live/${OMNI_DOMAIN_NAME}/fullchain.pem:/tls.crt:ro
      - /etc/letsencrypt/live/${OMNI_DOMAIN_NAME}/privkey.pem:/tls.key:ro
      - ./etcd:/_out/etcd
      - ./omni.asc:/omni.asc:ro
    command:
      - --auth-auth0-enabled=true
      - --auth-auth0-domain=${AUTH0_DOMAIN}
      - --auth-auth0-client-id=${AUTH0_CLIENT_ID}
      - --account-uuid=${OMNI_ACCOUNT_UUID}
      - --name=Omni
      - --advertised-api-url=https://${OMNI_DOMAIN_NAME}/
      - --siderolink-api-advertised-url=https://${OMNI_DOMAIN_NAME}:8090
      - --siderolink-wireguard-advertised-addr=${OMNI_WG_IP}:50042
      - --advertised-kubernetes-proxy-url=https://${OMNI_DOMAIN_NAME}:8100
      - --bind-addr=:8080
      - --https-bind-addr=:443
      - --k8s-proxy-bind-addr=:8100
      - --siderolink-api-bind-addr=:8090
      - --siderolink-wireguard-bind-addr=:50042
      - --private-key-source=file:///omni.asc
      - --event-sink-port=8091
      - --cert=/tls.crt
      - --key=/tls.key
      - --machine-api-bind-addr=:8090
      - --initial-users=${OMNI_ADMIN_EMAIL}
    network_mode: host
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv6.conf.all.forwarding=1
